.main-banner{
  position:relative;
  height:557px;
  background-position:center;
  background-size:cover;
  .absolute-text{
    text-align:center;
    margin:auto;
    color:#fff;
    h1{
      font-weight:@bold;
      font-size:48px;
      letter-spacing: 10px;
      padding-top:160px;
    }
    .sub-title{
      font-size: 28px;
      font-weight:@light;
      letter-spacing: 5px;
      margin-bottom:70px;
    }
    .caption p{
      font-size:@size-large;
      font-weight: 300;
      letter-spacing: 2px;
      line-height: 1.3em;
    }
  }
}