
.icon-maps-and-flags:before { content: '\e800'; } /* '' */
.icon-play-button:before { content: '\e801'; } /* '' */
.icon-stopwatch:before { content: '\e802'; } /* '' */
.icon-thought:before { content: '\e803'; } /* '' */
.icon-computer:before { content: '\e804'; } /* '' */
.icon-internet:before { content: '\e805'; } /* '' */
.icon-phone-icon:before { content: '\e806'; } /* '' */